@font-face {
  font-family: "iconfont"; /* Project id 5030071 */
  src: url('iconfont.woff2?t=1762571448462') format('woff2'),
       url('iconfont.woff?t=1762571448462') format('woff'),
       url('iconfont.ttf?t=1762571448462') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e63e";
}

.icon-View_waterfall:before {
  content: "\e608";
}

.icon-empty:before {
  content: "\e6a6";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-mail:before {
  content: "\e7de";
}

.icon-file-markdown:before {
  content: "\e7b9";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-file-pdf:before {
  content: "\e7b8";
}

.icon-close-circle:before {
  content: "\e77e";
}

.icon-frown:before {
  content: "\e77f";
}

.icon-info-circle:before {
  content: "\e780";
}

.icon-left-circle:before {
  content: "\e781";
}

.icon-down-circle:before {
  content: "\e782";
}

.icon-plus-circle:before {
  content: "\e783";
}

.icon-question-circle:before {
  content: "\e784";
}

.icon-right-circle:before {
  content: "\e785";
}

.icon-smile:before {
  content: "\e786";
}

.icon-time-circle:before {
  content: "\e787";
}

.icon-up-circle:before {
  content: "\e788";
}

.icon-warning-circle:before {
  content: "\e789";
}

.icon-sync:before {
  content: "\e78a";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-edit-square:before {
  content: "\e791";
}

.icon-export:before {
  content: "\e792";
}

.icon-Import:before {
  content: "\e793";
}

.icon-appstore:before {
  content: "\e794";
}

.icon-close-square:before {
  content: "\e795";
}

.icon-down-square:before {
  content: "\e796";
}

.icon-detail:before {
  content: "\e797";
}

.icon-check-square:before {
  content: "\e7a8";
}

.icon-file:before {
  content: "\e7bb";
}

.icon-file-copy:before {
  content: "\e7bc";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-bell:before {
  content: "\e7c4";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-flag:before {
  content: "\e7cb";
}

.icon-sound:before {
  content: "\e7da";
}

.icon-star:before {
  content: "\e7df";
}

.icon-attachment:before {
  content: "\e7e1";
}

.icon-edit:before {
  content: "\e7e2";
}

.icon-link:before {
  content: "\e7e3";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-rollback:before {
  content: "\e7fe";
}

.icon-fire:before {
  content: "\e842";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-check-circle:before {
  content: "\e77d";
}

